@font-face {
  font-family: 'NanumSquare';
  src: url('NanumSquareR.eot');
  src: local('NanumSquare Regular'), local('NanumSquareR'),
      url('NanumSquareR.eot?#iefix') format('embedded-opentype'),
      url('NanumSquareR.otf') format('opentype'),
      url('NanumSquareR.woff') format('woff'),
      url('NanumSquareR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('NanumSquareB.eot');
  src: local('NanumSquare Bold'), local('NanumSquareB'),
      url('NanumSquareB.eot?#iefix') format('embedded-opentype'),
      url('NanumSquareB.otf') format('opentype'),
      url('NanumSquareB.woff') format('woff'),
      url('NanumSquareB.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('NanumSquareEB.eot');
  src: local('NanumSquare ExtraBold'), local('NanumSquareEB'),
      url('NanumSquareEB.eot?#iefix') format('embedded-opentype'),
      url('NanumSquareEB.otf') format('opentype'),
      url('NanumSquareEB.woff') format('woff'),
      url('NanumSquareEB.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('NanumSquareL.eot');
  src: local('NanumSquare Light'), local('NanumSquareL'),
      url('NanumSquareL.eot?#iefix') format('embedded-opentype'),
      url('NanumSquareL.otf') format('opentype'),
      url('NanumSquareL.woff') format('woff'),
      url('NanumSquareL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}